<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sipc.xxsc.mapper.MessageMapper">

    <insert id="insertMessage">
        INSERT INTO message( `from`, `to`, date, message, is_read )
        VALUES( #{from}, #{to}, #{date}, #{message}, 0)
    </insert>

    <update id="readMessage">
        UPDATE message SET is_read = 1 WHERE id = #{messageId}
    </update>

    <update id="readAllMessage">
        UPDATE message SET is_read = 1 WHERE `from` = #{from} AND `to` = #{to}
    </update>

    <select id="selectMessageByFromAndTo" resultType="com.sipc.xxsc.pojo.domain.Message">
        SELECT
            *
        FROM
            message
        WHERE
            ( `from` = #{from} AND `to` = #{to} )
           OR ( `from` = #{to} AND `to` = #{from} )
        ORDER BY
            date
    </select>

</mapper>