<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.xxsc.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.sipc.xxsc.pojo.domain.UserInfo">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="avatar_url" jdbcType="VARBINARY" property="avatarUrl"/>
    </resultMap>
    <insert id="insert" parameterType="com.sipc.xxsc.pojo.domain.UserInfo">
        INSERT INTO user_info(user_id, avatar_url)
        VALUES(#{userId}, "https://avatars.githubusercontent.com/u/52723337?v=4")
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sipc.xxsc.pojo.domain.UserInfo">
        UPDATE user_info
        <set>
            <trim suffixOverrides=",">
                <if test="gender != null">
                    gender = #{gender,jdbcType=TINYINT},
                </if>
            </trim>
        </set>
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </update>
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM user_info
        WHERE user_id = #{userId}
    </select>
    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT *
        FROM user
        WHERE name = #{name}
    </select>

</mapper>